
body {
    background-color: rgb(0, 0, 0);
}

.projekty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.projekty img {
    width: 300px;
    height: auto;
    transition: all 0.3s ease; 
    box-shadow: 0 0 20px 10px rgba(250, 3, 3, 0.3);

}

.projekty img:hover {
    transform: scale(0.5);
    border-radius: 69px;
}